<!doctype html>
<html class="no-js" lang="en">
<head>
<meta charset="utf-8"/>
<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
<title>KF Burn O' Meter</title>
<link rel="stylesheet" type="text/css" href="CSS/KFFire.css">
</head>
<body>
 
<!-- <div class="top-bar">
<div class="top-bar-left">
<ul class="menu">
<li class="menu-text">Blog</li>
<li><a href="#">One</a></li>
<li><a href="#">Two</a></li>
<li><a href="#">Three</a></li>
</ul>
</div>
</div> -->
 
<div class="Header">
<div class="Text-Center">
<h1>KindaFunny Community Burn O' Meter</h1>
<div class= "twitchlive"><a href="https://www.twitch.tv/kindafunnygames"><img src="http://streambadge.com/twitch/dark/kindafunnygames.png" width="300" height="64" alt="kindafunnygames's Streambadge"></a></div>
</div>
</div>
<div class = "headerbar"></div>
<div class="Body">
<div class="Content">
<div class="BurningHeader">
	<h2>Watch it Burn!</h2>
</div>
<div class="poll">
	<form action="" method="">
		<b><p>When will the garbage truck on fire roll down the street?</p></b>
		<p>
			<label class="block"><span><input type = "radio" name="starttime" value="11:00" checked></span>11:00
			<label class="block"><span><input type = "radio" name="starttime" value="11:01"></span>11:01
			<label class="block"><span><input type = "radio" name="starttime" value="11:02"></span>11:02
			<label class="block"><span><input type = "radio" name="starttime" value="11:03"></span>11:03
			<label class="block"><span><input type = "radio" name="starttime" value="11:04"></span>11:04   
			<label class="block"><span><input type = "radio" name="starttime" value="11:05"></span>11:05
			<label class="block"><span><input type = "radio" name="starttime" value="11:06"></span>11:06
			<label class="block"><span><input type = "radio" name="starttime" value="11:07"></span>11:07
			<label class="block"><span><input type = "radio" name="starttime" value="11:08"></span>11:08
			<label class="block"><span><input type = "radio" name="starttime" value="11:09"></span>11:09
			<label class="block"><span><input type = "radio" name="starttime" value="11:10"></span>11:10
			<label class="block"><span><input type = "radio" name="starttime" value="Never...Kevin broke everything"></span>Never...Kevin broke everything
			<p><label class="submit"><input type = "submit" name="starttime" value="Submit"></p>
		</p>
	</form>	
</div>
<script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
<script src="http://dhbhdrzi4tiry.cloudfront.net/cdn/sites/foundation.js"></script>
<script>
      $(document).foundation();
    </script>
</body>
</html>
